/* =========================
   NAV BAR
========================= */
.main-nav {
    position: fixed;
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    mix-blend-mode: difference;
}

.logo {
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    font-weight: 500;
}

.menu-items a {
    color: var(--white);
    text-decoration: none;
    margin-left: 2rem;
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu-items a:hover {
    color: var(--violet);
}

.violet-accent {
    color: var(--violet) !important;
}
